*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ccc;
  transition: .5s ease-in-out;
}
.container{
  max-width: 600px;
  margin: 0 auto;
}
.apply_box{
  font-family: Verdana, Tahoma, sans-serif;
  background-color: white;
  max-width: 600px;
  padding: 20px;
  box-shadow: 3px 4px 5px slategray;
  margin-top: 50px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.small_title{
  font-size: 20px;
  color: #04175a;
  padding-left: 10px;
}
.form_container{
  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(200px, 1fr));
  gap: 20px;
}
.form_control{
  display: flex;
  flex-direction: column;
}
h1{
  margin-bottom: 30px;
}
input,textarea,select{
  padding: 18px 5px;
  border-radius: 8px;
  font-size: 17px;
  border: 2px solid #ccc;
  padding-bottom: 15px;
  margin-top: 15px;
  width: 100%;
}
.apply_container{
  display: flex;
  justify-content: flex-end;
}
button{
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  transition: 0.3s ease-in;
  margin-top: 30px;
  cursor: pointer;
  border: 1px solid red;
}
#upload{
  border: 2px solid #ccc;
}
label{
  padding-bottom: 10px;
}
button:hover{
  background-color: #ccc;
  color: black;
  transition: 0.3s ease-out;
  border: 1px solid black;
}
.textarea_control{
  grid-column: 1 / span 2;
}
.textarea_control textarea{
  width: 100%;
}

@media (max-width:459px){
  .textarea_control{
    grid-column: 1 / span 1
  }
}



