*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

/* Navigation */

nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.1);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px 15px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.bar_icon{
    font-size: 25px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px
}
.hero_content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
button{
    padding: 10px 20px;
    border: none;
    transition: 0.2s ease-in-out;
    display: flex;
    align-self: flex-start;
    font-size: 22px;
}
button:hover{
    /* opacity: 0.8; */
    transition: 0.2s ease-in;
    color: white;
}
.tag{
    background: #149f39;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}
.hero_content h1{
    font-size: 70px;
    line-height: 1.2;
    font-weight: 550;
}
.explore_btn{
    background: #149f39;
}
.explore_btn:hover{
    background-color: blue;
    transition: 0.5s ease-in;
}

/* Media Queries */
@media (max-width: 786px) {
    .hero{
        flex-direction: column;
    }
    .hero_img{
        width: 80%;
        padding left: 10px;
    }
    .hero_content{
        gap: 10px;
        padding: 20px;
    }
}
















/* @media (max-width: 956px){
    .hero{
        flex-direction: column;
    }
    .hero_img{
        width: 60%;
    }
}
@media (max-width: 800px){
    .hero_content{
        padding: 40px;
    }
}
@media (max-width: 902px) {
    .hero_content{
        padding: 30px;
    }
    .hero_img{
        width: 50%;
    }
} */
